/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*style*/

body {

	font: 16px/28px arial, sans-serif;


}
/*container bertujuan untuk membungkus semua yang ada diwebsite kita,agar dapat memudahkan
mengatur lebarnya.*/
.container {
	width: auto;
	/*margin auto agar jarak kiri dan kanannya auto. dan ditimpa
	dengan margin top agar jarak atasnya 225px menyesuaikan top-bar dan border dari top-bar.*/
	margin: auto;
	margin-top: 225px;
	background-color: yellow;
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/*jika ganti height dan border di top-bar ini, 
	cocokkan dengan margin di container.*/
	height: 220px;
	z-index: 9999;
	background-image: url(img/extra5.jpg);
	background-size: cover;
	background-position: 0 0;
	border-bottom: 5px solid black;
}



/*header*/
.header .judul{
	color: black;
  	text-align: center;
  	font-size: 24px;
  	font-family: arial;
  	font-weight: bold;
  	padding-bottom: 15px;
}

.header {
	background-color: #C4C4C4;
	border-bottom: 5px solid black;
	/*untuk memberikan jarak dalamnya*/
	padding: 20px;
	padding-bottom: 10px;
}

/*kotak*/
.kotak1 {
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #85A4E0;
	width: 400px;
	height: 400px;
	font-size: 18px;
	display: inline-block;
	/*untuk membuat rata ketengah*/
	text-align: center;
	line-height: 400px;
}

.kotak1 a {
	text-decoration: none;
	color: black;
	transition: 1s;

}

.kotak1 a:hover {
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
}

.kotak2 {
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #85A4E0;
	width: 400px;
	height: 400px;
	font-size: 18px;
	display: inline-block;
	float: right;
	/*untuk membuat rata ketengah*/
	line-height: 400px;
	text-align: center;
}

.kotak2 a {
	text-decoration: none;
	color: black;
	transition: 1s;
}

.kotak2 a:hover {
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
}


/*footer*/
.footer {
	background-color: black;
	padding: 10px;
	margin-top: 20px;
}
/*cara bacanya copyright yang ada difooter*/
.footer .copyright {
	color: yellow;
	font-size: 12px;
	text-align: center;
}






/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}